<div>
  <h1 class="text-center mt-2">
    <span> Hello there, </span>
    Welcome Ubot epay 👋
  </h1>
  <form nz-form class="login-form mt-4">
    <nz-form-item>
      <nz-form-control>
        <nz-input-group>
          <label>
            <span>Username</span>
          </label>
          <input type="text" nz-input placeholder="Username" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group>
          <label>
            <span>Password</span>
          </label>
          <input type="password" nz-input placeholder="Password" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <div nz-row class="login-form-margin">
      <div nz-col [nzSpan]="12">
        <label nz-checkbox>
          <span>Remember me</span>
        </label>
      </div>
      <div nz-col [nzSpan]="12">
        <a class="login-form-forgot">Forgot password</a>
      </div>
    </div>
    <button
      nz-button
      class="login-form-button login-form-margin"
      [nzType]="'primary'"
      type="button"
      (click)="dispatch()"
    >
      Log in
    </button>
  </form>
</div>
